/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  height:auto;
}


#page {  
  height: auto !important;
  min-height: 100%; 
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*403 and 404*/
#access-denied-wrapper,
#not-found-wrapper{
  text-align: center;
  margin-top: 30px;
  margin: 30px 0 30px;
  background-color: #eee;
  padding: 30px;
  font-size: 1.5em;
}


/*
 * Header
 */

#login-bar {
  text-align:center;
  margin:10px 0 15px 0;
}
#loggedin-bar {
  text-align:right;
  margin:0 0 0 5px;
  background-color:#ddd;
  padding:2px;
}
#loggedin-bar .user-info,#loggedin-bar .user-dashboard{
  margin-right:20px;
  
}
.user-bar a{
  color:darkblue;
  text-decoration:none;
  font-weight:bold;
}
.user-bar a:hover{
  color:darkblue;
  text-decoration:underline;
}
.user-bar .form-item,.user-bar .form-actions,.user-bar .item-list,.user-bar .item-list ul{
  display:inline;
}
.user-bar label, .user-bar input, .user-bar ul li {
  display:inline;
  margin-left:10px;
  
}
.user-bar .form-required{
  display:none;
}
.user-bar ul {  
  padding:0;
}
.user-bar li {
  list-style:none;
}
.user-bar li.last {
  margin-left:30px;
}


/*misc form pages*/
.page-user-register,
.page-contact{
  background-color:#eee;
}

#user-register-form{
    background-color: white;
    margin: 0 120px;
    padding: 20px 30px;
}
#contact-site-form {
    background-color: white;
    margin: 0 140px;
    padding: 20px 30px;
}
#user-register-form label,
#contact-site-form label {
  display: inline-block;
  font-weight: bold;
  text-align: right;
  width: 150px;
}
#contact-site-form .form-textarea-wrapper,
#user-register-form .form-textarea-wrapper {
  display: inline-block;
}
#user-register-form .form-type-password {
  margin:0;
}

#user-register-form .description {
  margin-left: 160px;
  width:430px;
}
#contact-site-form .description, #contact-site-form #edit-actions {
  margin-left: 80px;
  width:430px;
}

#contact-site-form .captcha {
  width:440px;
  margin: auto;
}

#user-pass #edit-submit,
#contact-site-form #edit-submit,
#user-register-form #edit-submit {
  background-color:darkblue;
  color:white;
  font-weight:bold;
  padding:10px;
  border:0;
  margin-top:20px;
}
#user-register-form .user-register-header {
  margin: 0 0 20px;
  text-align: center;
}


/*General Misc Pages*/
.node-type-book, 
.page-privacy-policy, 
.page-user-password{
  background-color:#eee;
}

.node-type-book #content, 
#privacy-policy-container,
#user-pass{
    background-color: white;
    margin: 0 120px;
    padding: 20px 30px;
}


.node-type-book #content a{
  color:darkblue;
  font-weight:bold;
  text-decoration:none;
}
.node-type-book #content a:hover{
  text-decoration:underline;
}



#logo { /* Wrapping link for logo */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  text-align:center;
}
#logo img {
  vertical-align: bottom;
}
#main-menu{  
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0;
  text-align:center;
}
#main-menu span{  
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  font-size:110%;
  color:#1f15b2;
  font-weight:bold;
}

/*
 * Main (container for everything else)
 */

#main {
}

/*
 * Content
 */

#content {
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
  font-size:75%;
  line-height: 12px;
  color:#888;
  padding:10px
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}



.page-user-edit #edit-contact{
  display:none;
}